<% if @user.errors.any? %>
  <div class="alert alert-danger w-50 mx-auto" role="alert">
    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="card w-50 mx-auto">
  <div class="card-header">
    Create User
  </div>
  <div class="card-body">
    <%= render "form", user: @user %>
  </div>
</div>